@import 'Variables';
@import 'FlexLayouts';
@import 'Accordion';

.Adjustments {
  @include flexColumnTopLeft;
  border: $devBorder solid blue;
  width: 350px;
  height: 100%;

  @media (max-width: 600px) {
    width: 100%;
    height: auto;
  }
  text-align: center;

  .adjustSection {
    @include flexColumnTopLeft;
    border: $devBorder solid orange;
    border-left: 1px solid $dark2;
    border-right: 1px solid $dark2;
    border-bottom: 1px solid $dark2;
    width: 100%;

    .adjustDivider {
      width: 100%;
      height: 1px;
      border-bottom: 1px solid $dark2;
    }

    .adjustmentContainer {
      @include flexColumnTopLeft;
      border: $devBorder solid lime;
      padding: $spacer0 $spacer1;
      width: 100%;

      &:first-child {
        margin-top: $spacer0;
      }

      &:last-child {
        margin-bottom: $spacer0;
      }

      // &.sectionLabel {
      //   width: 100%;
      //   font-size: 14px;
      //   @include flexRowSpaceBetween;
      // }

      .adjustmentLabel {
        width: 100%;
        font-size: 12px;
        @include flexRowSpaceBetween;
      }

      form {
        width: 100%;
      }

      .adjustColor {
        margin-top: $spacer0;
        background-color: white;
        width: 100%;
        .chrome-picker {
          background-color: $dark0 !important;
          border-radius: 0px !important;
          box-shadow: 0px 0px !important;
          box-sizing: initial !important;
          font-family: Menlo !important;
          input[id*='rc-editable-input'] {
            box-shadow: 0px 0px !important;
            outline: none;
            border-radius: 0px !important;
            border: 1px solid $dark2 !important;
            background-color: $dark1;
            color: $light1 !important;
          }
          div:last-child {
            padding-bottom: 0px !important;
          }
        }

        .chrome-picker > * {
          border-radius: 0px !important;
          box-shadow: 0px !important;
        }
      }

      select {
        background-color: $dark1;
        color: $light1;
        width: 100%;
        padding: 5px;
        outline: none;
        border: 1px solid $dark2;
      }

      .iconSwitch {
        cursor: pointer;
        font-size: 12px;
      }

      .checkbox {
        width: 100%;
        color: white;
        font-size: 12px;
        @include flexRowStart;
      }

      .textField {
        background-color: $dark1;
        color: $light1;
        width: 100%;
        padding: 5px;
        outline: none;
        border: 1px solid $dark2;
      }

      .sliderField {
        margin-bottom: $spacer1;
      }
      .slider {
        // -webkit-appearance: none;
        width: 100%;
        height: 5px;
        background-color: #666;
        outline: none;
        // -webkit-transition: 0.2s;
        // transition: opacity 1s;
      }

      // .slider:active {
      //   -webkit-appearance: none;
      //   width: 100%;
      //   height: 10px;
      //   background-color: #00ccff;
      //   border: 1px solid #3333ff;
      //   box-shadow: 0px 0px 15px #5555ff;
      //   outline: none;
      //   -webkit-transition: 0.2s;
      //   transition: opacity 1s;
      // }
    }
  }
}
