@import 'Variables';
@import 'Text';
@import 'FlexLayouts';

.ButtonPreview {
  @include flexColumnTopLeft;
  border: $devBorder solid blue;
  width: 100%;
  min-height: 250px;

  @media (max-width: 600px) {
    flex: 1;
  }
  text-align: center;
  .buttonContainer {
    @include flexColumnCenter;
    border: $devBorder solid orange;
    // border: 1px solid $light0;
    width: 100%;
    flex: 1;
    padding: 20px 10px;
  }
}
